POSTGRES_DB=vostok28
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/vostok28?schema=public
REDIS_URL=redis://redis:6379
JWT_SECRET=supersecret
API_PORT=3001
WEB_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001
MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=rdc-docs
MINIO_REGION=us-east-1
MOCK_1C_URL=http://mock1c:3100
